body {
  margin: 0;
  padding: 0;
}

.popup-container {
  position: absolute;
  padding: 2rem 0;
  top: 0%;
  left: 0%;
  right: 0%;
}

.inner-content,
.description-container,
.comments-container,
.comment-form {
  display: flex;
  flex-direction: column;
}

.description-container,
.comments-container {
  width: fit-content;
}

.inner-content {
  align-items: center;
  width: fit-content;
  margin: 0 auto;
  background-color: azure;
  padding: 3rem 0;
}

.photo-close {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: auto;
  grid-template-areas: 'left center right';
}

.show-cover {
  grid-area: center;
}

.close-button {
  background-color: transparent;
  border: none;
  grid-area: right;
  width: fit-content;
  height: fit-content;
  padding: 0 0.5rem;
}

h2, h3 {
  text-align: center;
}

.description-items {
  display: flex;
}

.description-items > * {
  padding: 0 1rem;
}

.comment-form,
.comments-container {
  width: 75%;
}

.comment-form > *:not(h3) {
  width: fit-content;
  margin: 0.5rem 0;
  padding: 0.5rem;
}