body {
  margin: 0;
  min-height: 100vh;
}

.navbar {
  display: flex;
}

header {
  width: 100%;
  height: 80px;
  background-color: blue;
}

.navbar-list {
  list-style-type: none;
  margin-left: 100px;
  display: flex;
  flex-direction: row;
  justify-content: left;
}

.navbar a {
  text-decoration: none;
  color: yellow;
  font-size: 25px;
  margin-top: 20px;
  margin-left: 35%;
}

.logo {
  width: 80px;
  height: 80px;
}

#tvshow-list {
  display: flex;
  flex-wrap: wrap;
  margin: 0 150px;
}

.tvshow-list-container {
  margin: 25px;
}

.btn-likes {
  margin-left: 10px;
  color: rgb(226, 88, 88);
}

footer {
  bottom: 0;
  width: 100%;
  height: 80px;
  background-color: blue;
  display: flex;
  justify-content: center;
}

footer p {
  color: yellow;
  text-align: center;
  margin: 30px;
}

#popup {
  margin: 0;
  padding: 0;
}

.popup-container {
  position: fixed;
  padding: 2rem 0;
  top: 0%;
  left: 0%;
  right: 0%;
  bottom: 0%;
}

.inner-content,
.description-container,
.comments-container,
.comment-form {
  display: flex;
  flex-direction: column;
}

.description-container,
.comments-container {
  width: fit-content;
  max-width: 30rem;
}

.inner-content {
  align-items: center;
  width: fit-content;
  height: 35rem;
  margin: 0 auto;
  background-color: azure;
  padding-bottom: 3rem;
  overflow-y: auto;
}

.photo-close {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: auto;
  grid-template-areas: 'left center right';
}

.show-cover {
  grid-area: center;
  padding-top: 3rem;
}

.close-button {
  justify-self: flex-end;
  align-self: flex-start;
  background-color: transparent;
  border: none;
  grid-area: right;
  width: auto;
  height: auto;
  padding: 0.5rem 0.75rem;
}

h2,
h3 {
  text-align: center;
}

.description-container {
  align-items: center;
}

.description-items {
  display: flex;
  justify-content: space-between;
  max-width: 20rem;
}

.description-items > * {
  padding: 0 1rem;
}

.description-3 {
  margin: 0 4rem;
}

.description-3 > p {
  text-align: center;
}

.comment-form,
.comments-container {
  width: 75%;
  max-width: 20rem;
}

.comment-form > *:not(h3) {
  width: fit-content;
  margin: 0.5rem 0;
  padding: 0.5rem;
}

.invalid {
  outline-color: red;
}

.comment-text {
  min-height: 6rem;
  max-height: 8rem;
  min-width: 10rem;
  max-width: 15rem;
}

@media screen and (max-width: 600px) {
  .inner-content {
    height: 25rem;
  }
}
